body {
  background-color: black;
  color: white;
}
.App {
  text-align: center;
}
.searchbar {
  width: 350px;
  margin-top: 10px;
  background-color: grey;
  height: 20px;
}
.suggestions {
  background-color: white;
  width: 350px;
  margin: auto;
  color: black;
  position: relative;
  bottom: 15px;
}
.notfound {
  background-color: black;
  color: red;
}