body {
  background-color: black;
  color: white;
}
.App {
  text-align: center;
}
.searchbar {
  width: 350px;
  margin-top: 10px;
  background-color: grey;
  height: 20px;
}
.suggestions {
  background-color: grey;
  width: 350px;
  margin: auto;
}